<h1>{{ profile.user.username }}'s Profile</h1>
<img src="{{ profile.profile_picture.url }}" alt="Profile Picture" width="150">

<h2>Followers</h2>
<ul>
    {% for follower in followers %}
        <li>{{ follower.from_user.user.username }}</li>
    {% endfor %}
</ul>

<h2>Following</h2>
<ul>
    {% for follow in following %}
        <li>{{ follow.to_user.user.username }}</li>
    {% endfor %}
</ul>

<p><strong>Bio:</strong> {{ profile.bio }}</p>
<p><strong>Type:</strong> {{ profile.type }}</p>
<p><strong>Status:</strong> {{ profile.status|yesno:"Active,Inactive" }}</p>

{% if not is_own_profile %}
    {% if is_following %}
        <a href="{% url 'unfollow_user' profile.id %}" class="btn btn-danger">Unfollow</a>
    {% else %}
        <a href="{% url 'follow_user' profile.id %}" class="btn btn-success">Follow</a>
    {% endif %}
{% endif %}



<a href="{% url 'edit_profile' profile.id  %}">Edit Profile</a>