{% load custom_filters %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">فرم ثبت نام</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">نام کاربری</label>
            {{ form.username|add_class:"form-control" }}
            {% if form.username.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.username.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    
    <div class="form-group">
            <label for="id_username">نام کوچک</label>
            {{ form.first_name|add_class:"form-control" }}
            {% if form.first_name.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.first_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    
    <div class="form-group">
            <label for="id_username">نام بزرگ</label>
            {{ form.last_name|add_class:"form-control" }}
            {% if form.last_name.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.last_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>


        <div class="form-group">
            <label for="id_email">ایمیل</label>
            {{ form.email|add_class:"form-control" }}
            {% if form.email.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_password">گذرواژه</label>
            {{ form.password|add_class:"form-control" }}
            {% if form.password.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_password2">تأیید گذرواژه</label>
            {{ form.password2|add_class:"form-control" }}
            {% if form.password2.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.password2.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary btn-block">ثبت نام</button>
    </form>
</div>
<a href="{% url 'login' %}">اگر حساب کاربری دارید اینجا کلیک کنید</a>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
