<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>HOME PAGE</h1>
<nav>
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'profile_detail' profile.id %}">پروفایل من </a>
    {% elif not request.user.is_authenticated %}
        <a href="{% url 'register' %}">register</a> <br><br><br><br>
        <a href="{% url 'login' %}">Login</a>
    {% else %}  
        <a href="#">home</a>
        <a href="#">about</a>
        <a href="#">contact</a>
    {% endif %}
</nav>
</body>
</html>


